{% extends 'hooptoday/base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto p-6">
    <br><br><br><br><br><br><br>
    <h1 class="text-2xl font-bold text-center text-gray-100 mb-8">Welcome To Hoop Today!</h1>
    <br><br>
    <div class="">
        <div class="md:w-1/2 mb-4 md:mb-0">
            <img src="{% static 'hooptoday/images/basketball_court_outdoors.jpg' %}" alt="Basketball Court" class="rounded-lg shadow-md">
        </div>
        <br>
        <br>
        <div class=" bg-white">
            <p class="text-lg text-gray-100 mb-4">Features:</p>
            <ul class="list-disc list-inside text-lg text-gray-100">
                <li> - Log games, track stats and view averages on your profile.</li>
                <li> - Make a general post to notify your friends you're hooping today.</li>
                <li> - Invite a friend and track each other's games!</li>
            </ul>
            <br>
            <br>
            <p class="text-lg text-gray-100 mt-4">Let's Hoop!</p>
        </div>
    </div>
</div>

{% endblock %}