{% extends 'hooptoday/base.html' %}


{% load static %}


{% block content %}
    <br><br><br>
    <h1 class="text-3xl font-bold p-2">Create Post</h1>


    {% if user.is_authenticated %}
    <p class="text-lg font-bold p-2">@{{ user.username }}</p>
    <br>
    
    <!-- Display content for authenticated users -->
    <form action="{% url 'create-post' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4 p-4">
            
            <input type="text" name="text" id="text" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline
            placeholder:Type something here... placeholder-zinc-400 min-w-full h-64">
        </div>
        <div class="flex items-center justify-between p-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Post</button>
        </div>
     </form>
    {% else %}
        <p>Please log in to access the content.</p>
        <!-- Display content for anonymous users -->
    {% endif %}

    <br>
    <br>
    


{% endblock %}

