{% extends 'hooptoday/base.html' %}
{% load static %}
{% block content %}

  


    <body>

        <div class="border-opacity-75 border-gray-200 rounded-2xl p-8 bg-gray-50 place-items-center" >
            <br>
            <h2 class="text-xl font-bold font-serif mb-2 p-4">Log In</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4 p-4">
                    <label for="id_username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                    <input type="text" name="username" id="id_username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-6 p-4">
                    <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                    <input type="password" name="password" id="id_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex items-center justify-between p-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Log In</button>
                    
                </div>
                
                <div class="mb-6 p-4">
                    <a href= 
                    "{% url 'signup' %}"
                        class="hover:text-gray-300 bg-green-600 hover:bg-green-800 text-white font-bold py-2 p-4 rounded focus:outline-none focus:shadow-outline""> 
                        Sign Up 
                    </a>
                </div>
            
        
            </form>

    
        </div>

       
    
    </body>


    
   


</div>  
</div>

{% endblock %}