{% extends 'hooptoday/base.html' %}
{% load static %}
{% block content %}
<div class="bg-black opacity-100">
        



    <div class="container mx-auto mt-8 min-w-12 p-2">
        
        <br>
        <br>
        <br>
        <br>


        <div class = "rounded-2xl p-8 mb-4 bg-gray-50">

        <!-- Display content for authenticated users -->
        <p class="text-lg font-bold p-2 text-black snap-center"> {{ username }}'s profile</p>
        <p class="text-lg font-bold p-2 text-black snap-center"> Wins: {{ userwins }}   Losses: {{ userlosses }}    Games Played: {{ usergames }}</p>
        <p class="text-lg font-bold p-2 text-black snap-center"> Avg Scored: {{ avg_points }}   Avg Allowed: {{ away_avg_points }}</p>
        

        </div>


        {% for post in page.object_list %}

        <div class="border-opacity-75 border-gray-200 rounded-2xl p-8 mb-4 bg-gray-50">
            
            <h2 class="text-xl font-bold font-serif mb-2"> @{{ post.owner }} </h2>
            <p class="text-sm text-black font-serif mt-2"> {{ post.createdDate }} </p>
            
            <br>

            {% if post.result %}
                <strong class="align-middle font-serif my-6">{{ post.result }}</strong>
                <div>
                    <p class="align-middle font-serif"> {{ post.myTeamName }} {{ post.myScore }} - {{ post.awayTeamName }} {{ post.awayScore }} </p>
                </div>
                <br>
                {% if user.is_authenticated and user == post.owner %}
                    <form action="{% url 'delete-game-post' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            {% else %}
            
            <p class="align-middle font-serif">{{ post.text }}</p>

            <div>
                <br>
                {% if user.is_authenticated and user == post.owner %}
                    <form action="{% url 'delete-post' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" 
                            class="hover:text-gray-300 bg-red-600 text-black font-bold rounded focus:outline-none focus:shadow-outline">
                            Delete
                        </button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
            
            <p> Likes: {{ post.likes }} <button>+1</button> </p>
            
            
                
        </div>
        {% endfor %}

    
        <br><br>

    <!-- Pagination links -->
    <div class="pagination container min-w-12 p-6 justify-center">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?page=1" class="text-white hover:text-gray-200">&laquo; First</a>
                <a href="?page={{ page.previous_page_number }}" class="text-white hover:text-gray-200">Previous</a>
            {% endif %}

            <span class="current" >
                <p class="text-white">Page {{ page.number }} of {{ page.paginator.num_pages }}</p>
            </span>

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="text-white hover:text-gray-200">Next</a>
                <a href="?page={{ page.paginator.num_pages }}" class="text-white hover:text-gray-200">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</div>  





{% endblock %}