{% extends 'base.html' %}


{% block content %}

    <br><br><br>
    <h1 class="text-3xl font-bold p-2">
        Log A Game
    </h1>

    <div>
        {% if user.is_authenticated %}
        <p class="text-xl font-bold p-2">@{{ user.username }}</p>
        <br>
        
        <!-- Display content for authenticated users -->
        <form action="{% url 'create-game-post' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4 p-4">
                    <label for="myTeamName" class="block text-gray-700 text-sm font-bold mb-2">My Team Name: </label>
                    <input type="text" name="myTeamName" id="id_myTeamName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4 p-4">
                    <label for="awayTeamName" class="block text-gray-700 text-sm font-bold mb-2">Other Team Name: </label>
                    <input type="text" name="awayTeamName" id="id_awayTeamName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4 p-4">
                    <label for="myScore" class="block text-gray-700 text-sm font-bold mb-2">My Score: </label>
                    <input type="text" name="myScore" id="id_myScore" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4 p-4">
                    <label for="awayScore" class="block text-gray-700 text-sm font-bold mb-2">Other Score: </label>
                    <input type="text" name="awayScore" id="id_awayScore" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4 p-4">
                    <label for="result" class="block text-gray-700 text-sm font-bold mb-2">Result: </label>
                    <select id="id_result" name="result">
                        <option value="W">W</option>
                        <option value="D">D</option>
                        <option value="L">L</option>
                    </select>
                </div>
                <div class="flex items-center justify-between p-4">
                    <button type="submit" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Post</button>
                </div>
                
            </div>
            </form>
        {% else %}
            <p class="text-black">Please log in to access the content.</p>
            <!-- Display content for anonymous users -->
        {% endif %}
    </div>
    

    <br>
    <br>


    
    

{% endblock %}
